  <div class="container-fluid">
    <div class="row">
      <div id="left-panel full-height" class="col-sm-4" style="height: 1280px;">
        <div class="row left-panel-section shadow"><img class="logo" src="https://s3.amazonaws.com/newvertilux.com/img/logo_vertilux_EN-01.png"></div>
        <div class="row left-panel-section" style="background-color: #272F31;">
          <div class="section-text">
            <h1>Vertilux Blinds & Shades</h1>
            <p style="  text-align: justify; text-justify: inter-word;">
              Vertilux is one of the largest manufacturers and distributors of fabrics, components,
              and automated solutions for the Window Covering Industry. With four decades of experience,
              Vertilux offers its clients the highest quality blinds and shades through a network of
              authorized distributors and dealers around the world.
            </p>
            <br>
            <p>
              On this screen you can choose the right Vertilux Portal according to your needs.
            </p>
            <!-- Social Media -->
            <ul style="list-style: none;margin: 0;padding: 0; padding-top: 3%; font-size: 17px;">
              <li style="display: inline-block; padding: 1%;">
                <a style="color: white;" href="{{site.instagram}}" target="_blank"><i class="fa fa-instagram"></i></a>
              </li>
              <li style="display: inline-block; padding: 1%;">
                <a style="color: white;" href="{{site.facebook}}" target="_blank"><i class="fa fa-facebook"></i></a>
              </li>
              <li style="display: inline-block; padding: 1%;">
                <a style="color: white;" href="{{site.youtube}}" target="_blank"><i class="fa fa-youtube"></i></a>
              </li>
              <li style="display: inline-block; padding: 1%;">
                <a style="color: white;" href="{{site.twitter}}" target="_blank"><i class="fa fa-twitter"></i></a>
              </li>
            </ul>

          </div>
        </div>
      </div>

      <div id="center-panel" class="col-sm-4 big-image" style="height: 1280px;"></div>

      <!-- Sites -->
      <div id="rigt-panel" class="col-sm-4" style="background-color:#272F31; height: 1280px;">
        <div class="row right-panel-section home">
          <div class="section-text">
            <h1>{{site.home.header}}</h1>
            <p>{{site.home.description}}</p>
            <a href="{{site.home.url}}" onclick="homeURL()"><button class="boton">Enter Here</button></a>
          </div>
        </div>
        <div class="row right-panel-section" style="background-color:#BD1823;">
          <div class="section-text">
            <h1>{{site.partner.header}}</h1>
            <p>{{site.partner.description}}</p>
            <a href="{{site.partner.url}}" onclick="partnerURL()"> <button class="boton">Enter Here</button></a>
          </div>
        </div>
        <div class="row right-panel-section spec">
          <div class="section-text">
            <h1>{{site.spec.header}}</h1>
            <p>{{site.spec.description}}</p>
            <a href="{{site.spec.url}}" onclick="specURL"> <button class="boton">Enter Here</button></a>
          </div>
        </div>
      </div>
    </div>
  </div>
